#ifndef __SETTINGS__
#define __SETTINGS__

#define DPS_REG_VOLTAGE 0x0000
#define DPS_REG_CURRENT 0x0001
#define DPS_REG_ONOFF   0x0009

#define MIN_VOLTAGE 0
#define MAX_VOLTAGE 5000
#define MIN_CURRENT 0
#define MAX_CURRENT 4999

#define MDSN_NAME "dps"

#define WIFI_SSID "*******"
#define WIFI_PASSWORD "*******"

#endif
